p Olá,
p Obrigada por se inscrever para participar do Verão do Saneamento! Serão várias ações pela cidade pedindo 100% de saneamento para o Rio! Você será avisado sobre todas elas por SMS! Chega junto (:
p Somos milhares de cariocas e dizemos que saneamento é basico! Nossa primeira missão é pressionar o Governador Sergio Cabral para que tire os super-poderes do presidente da CEDAE de aumentar a tarifa sem garantir qualidade no serviço. Se você ainda não assinou a petição que será entregue ao Cabral, não perca tempo: #{link_to "http://cedae.meurio.org.br", "http://cedae.meurio.org.br"}
p Por 100% de saneamento para o Rio,
p Daniela, Leona e equipe do Meu Rio
