p Olá, 

p Obrigada por se inscrever para participar do Verão do Saneamento! Desde o início do verão estamos organizando ações que chamam atenção para as causas e consequências da falta de saneamento no Rio. A partir de agora você receberá novidades sobre as próximas ações por SMS! 

p Essas ações estão dentro de uma grande mobilização por 100% de saneamento básico que já conta com mais de 11 mil apoiadores. 

p Uma das nossas missões é pressionar o Governador Sérgio Cabral para que tire os super-poderes do presidente da Cedae de aumentar a tarifa sem garantir qualidade do serviço. Se você ainda não assinou a petição direcionada ao Cabral, não perca tempo: http://cedae.meurio.org.br 

p Você agora faz parte da Rede Meu Rio! Somos milhares de cariocas mobilizados por diferentes causas que podem tornar o Rio mais democrático e participativo! 

p Por 100% de saneamento para o Rio,

p Leona, Rafael e a equipe da Rede Meu Rio
