// Colors
$dark-yellow: #fccb4f
$yellow: #ffeca9
$gray: #565757
$red: #d03221

// Font sizes
$text-size: 20px
$title-size: 30px

[id^="slide-"]
  +grid-column(12)
  padding: 3em 0 2em 0
  text-align: center
  .large > p, p.large
    +grid-column(12)
  .medium > p, p.medium
    +grid-column(10, $center: true)
  .small > p, p.small
    +grid-column(8, $center: true)

#slide-2, #slide-4, #slide-6
  background: $red
#slide-3, #slide-5
  background: $gray

h2.title
  +grid-column(10, $center: true)
  font-family: 'Proxima Nova Soft'
  background-size: 100% 100% !important
  font-size: $title-size
  font-weight: bold
  color: $dark-yellow
  padding: .2em 0
  &.red
    background: url('red_ribbon.png') center center no-repeat
  &.gray
    background: url('gray_ribbon.png') center center no-repeat

p
  font-size: $text-size
  text-align: center
  color: $yellow
  line-height: 1.2em
  margin: 1em 0
  float: none !important
  &.big
    font-size: 1.8em
    line-height: 1.2em

a.cta
  font-size: $text-size !important
  font-weight: bold !important
  padding: .5em 2em

iframe.gmaps
  width: 100%
  height: 480px

.both.image-left
  display: table
  img
    width: 50%
    float: left
    margin-right: 1em
  p 
    text-align: left
    margin-right: 0

#wp-print p
  margin-top: 2em

#championship
  margin-top: 3em
  +grid-column(10, $center: true)

#joatinga
  img
    width: 335px

.dark
  color: $dark-yellow
  font-weight: bold

.highlight
  h3
    +grid-column(6, $center: true)
    color: white
    font-size: 4em
    font-weight: bold

#slide-1  
  background: asset-url("bg.jpg") top center repeat-x #b88316
  padding: 0 0 6em 0
  .header
    text-align: center
    font-size: 1.5em
    font-weight: 700
    padding: .5em 0
    margin-bottom: 1.5em
    color: white
    opacity: .4
    img
      margin-right: .5em
  .content, .main-ribbon
    +grid-column(10, $center: true)
  .content
    .image
      +grid-column(4)
    .weeks, .views
      +grid-column(8)
      text-align: left
      margin-bottom: 1em
      .number
        background: url('header_small_ribbon.png') center top no-repeat
        display: inline-block
        margin-top: 10px
        color: $dark-yellow
        text-align: center
        font-weight: 800
        font-size: 3em
        padding-top: 2px
        width: 158px
        height: 50px
      .copy
        padding-left: 1em
        position: absolute
        font-size: 1.8em
        display: inline
        color: $yellow
        margin-top: 5px
    .weeks
      padding-top: 4em
      .copy
        margin-top: 20px
  .main-ribbon
    background: url('header_large_ribbon.png') center top no-repeat
    background-size: 100% 100%
    color: $dark-yellow
    text-align: center
    font-weight: 700
    margin-top: 2em
    font-size: 1.8em
    padding: .2em 4em
    min-height: 50px
    line-height: 1.2em

@media (max-width: 800px)
  #slide-1
    .content
      .image, .weeks, .views
        +grid-column(12)
    .main-ribbon
      padding: .2em 1em