$header-font-family: "Populaire"

@import fonts
@import foundation
@import compass/css3

body
  background: asset-url("bg.jpg") top center no-repeat #b88316
  padding: 0 0 30px 0
  font-family: "Proxima Nova"

header
  background: white
  padding: 5px 0
  color: #d1d3d4
  font-family: 'Populaire'
  font-size: 32px
  line-height: 37px
  margin-bottom: 30px
  .meurio
    +grid-column(12)
    img
      margin-right: 10px

*
  outline: none

.row
  +grid-row

.box
  background: white
  padding: 20px
  +border-radius(20px)

a.facebook_button, a.twitter_button
  opacity: .9
  &:hover
    opacity: 1

.header_and_map
  +grid-column(8)
  .vds_logo
    +grid-column(4)
  .header
    +grid-column(8)
    h1
      color: #ffe99e
      font-weight: normal
      font-size: 36px
    h1.subheader
      font-size: 20px
      color: white
      font-family: "Proxima Nova"
  .map
    margin-top: 30px
    +grid-column(12)
  .share
    +grid-column(12)
    text-align: center
    margin-top: 30px
    margin-bottom: 15px
    .facebook_button
      margin-right: 10px

.new_user_form
  +grid-column(4)
  form
    margin: 0
    input[type='submit']
      +button
      background: #de3a29
      width: 100%
      border: none
      border-radius: 5px
      text-transform: uppercase
      margin: 0
      &:hover, &:focus
        background: lighten(#de3a29, 5%)
    small.error
      margin: 0
    .first_name_field, .last_name_field, .email_field, .phone_field
      margin-bottom: 20px
  .taf
    p
      &:last-child
        margin: 0
    a.facebook_button
      margin-right: 20px

.text
  margin-top: 20px
  +grid-column(12)

@media only screen and (max-width: 800px)
  .header_and_map, .new_user_form, .header, .vds_logo
    +grid-column(12)
