$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif

@import foundation
@import compass/css3

body
  background: asset-url("bg.png") top center no-repeat #b88316
  padding: 30px 0

.row
  +grid-row

.box
  background: white
  padding: 20px
  +border-radius(20px)

.header_and_map
  +grid-column(8)
  .vds_logo
    +grid-column(4)
  .header
    margin-bottom: 20px
    +grid-column(8)
    h1.subheader
      font-size: 20px
      color: white
  .map
    +grid-column(12)

.new_user_form
  +grid-column(4)

.text
  margin-top: 20px
  +grid-column(12)
